<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test_Suite" parallel="none" thread-count="1">
  <test name="Test">
    <groups>
      <run>  
      	<include  name = "SimpleTryPrint" />
  	 </run>
  </groups>
    <classes>   
      <class name="SimpleMavenJenkinsTest.SimpleMavenJenkinsTest.SimpleTestClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->